
div#oe-event-list
  .uk-panel.uk-panel-box.skn-text-and-button
      form.uk-form
        .uk-form-controls
          input(placeholder="Add Custom Facebook Event ID",ng-model="fbIDQuery").uk-width-8-10.uk-form-large
          a(href="#m-oe-fb-addevent",data-uk-modal,ng-click="previewEvent(fbIDQuery)").uk-width-2-10.uk-button.uk-button-large.uk-button-primary #[i.uk-icon.uk-icon-plus]

  .uk-panel.skn-event-list
    //- Item List
    a.skn-event-item(ng-repeat="item in OEList | orderBy:'-sortTime'",ng-click="previewEvent(item.id)",data-uk-modal,ng-href="#m-oe-fb-addevent",ng-class="{'past-event':item.isPast}")
      .badge-container
        .uk-badge(ng-show="item.isAdded").uk-badge-warning.
          Added
        .uk-badge.
          {{item.lastUpdate}}
      .skn-event-item-container
        .uk-width-1-4
          img(ng-src="{{item.profilePic}}")
        .uk-width-3-4
          p.uk-text-large.uk-text-bold.uk-margin-remove.uk-text-transclude {{item.name}}
          p.uk-text-small.uk-margin-remove {{item.start_time}}
    div.skn-list-control.skn-loading-panel.uk-panel(ng-show="loadingList")
      p #[i.uk-cion.uk-icon-spin.uk-icon-spinner] #[span(translate="oe-list.notif.loading")]
    a.skn-next.uk-panel.skn-list-control(ng-click="listNextOEvents()",ng-show="!loadingList")
      p(translate="oe-list.notif.next").uk-text-large
      
  #m-oe-fb-addevent.uk-modal
    .uk-modal-dialog
      fb-add-control(type="event")
      .uk-text-center
        a.uk-modal-close.uk-button.uk-text-bold CLOSE
