#dash-fb-addctrl
	p(translate="add-fb-ctrl.title").uk-text-large.uk-text-bold
	.uk-width-1-1
		.uk-alert.uk-alert-danger(ng-show="alertError",translate="add-fb-ctrl.notif.invalid")
		input(ng-model="fbId").uk-width-1-1.uk-form-large
		.uk-width-1-1.uk-margin-top.result(style="background-image:url({{fbPreview.cover}})",ng-hide="alertError")
			a(ng-click="passQueryResult()").uk-width-1-1
				.facebook-name
					p.uk-text-large {{fbPreview.name}}
				.profile
					img.uk-thumbnail(ng-src="{{fbPreview.profile}}")
		.uk-width-1-1.uk-margin-top
			.uk-alert.uk-alert-success(ng-show="alertSuccess",translate="add-fb-ctrl.notif.added")
