nav#skn-nav-main
  section#skn-menu-mobile.uk-visible-small
    ul
      li: a(href="#o-dashboard-menu",data-uk-offcanvas) #[i.uk-icon.uk-icon-navicon]
  
  section#brand
  
  section#skn-menu.uk-hidden-small
    ul
      li: a(href="#/dashboard/main") #[i.uk-icon.uk-icon-home] #[span(translate="main-navs.home")]
      
      li(data-uk-dropdown="{mode:'click'}",ng-show="isModerators") 
        a #[i.uk-icon.uk-icon-calendar]   #[span(translate="main-navs.events-manage.title")]  #[i.uk-icon.uk-icon-caret-down]
        .uk-dropdown
          ul.uk-list.uk-margin-remove
            li: a(href="#/dashboard/admin/event/add") #[i.uk-icon.uk-icon-plus] #[span(translate="main-navs.events-manage.selection.add")]
            li: a(href="#/dashboard/admin/events/manage") #[i.uk-icon.uk-icon-sitemap] #[span(translate="main-navs.events-manage.selection.manage")]
            li: a(href="#/dashboard/admin/organizers") #[i.uk-icon.uk-icon-users] #[span(translate="main-navs.events-manage.selection.org-man")]
            
      li(data-uk-dropdown="{mode:'click'}",ng-show="isAdmin"): a #[span(translate="main-navs.admin-control.title")] #[i.uk-icon.uk-icon-caret-down]
        .uk-dropdown
          ul.uk-list.uk-margin-remove
            li: a(href="#/dashboard/admin/users") #[i.uk-icon.uk-icon-users] #[span(translate="main-navs.admin-control.selection.users")]
            li: a(href="#/dashboard/admin/options") #[i.uk-icon.uk-icon-cogs] #[span(translate="main-navs.admin-control.selection.options")]
            
      li(data-uk-dropdown="{mode:'click'}"): a #[i.uk-icon.uk-icon-flask] #[span(translate="main-navs.labs.title")] #[i.uk-icon.uk-icon-caret-down]
        .uk-dropdown
          ul.uk-list.uk-margin-remove
            li: a #[i.uk-icon.uk-icon-map-marker] #[span(translate="main-navs.labs.selection.events-map")]
      
  section(ng-show="isAuthenticated")#userinfo
    ul
      li: a #[i.uk-icon.uk-icon-exclamation]
      li(data-uk-dropdown="{mode:'click',pos:'bottom-right'}"): a #[img(ng-src="{{profilePic}}")] {{last_name}}, {{first_name}} #[i.uk-icon.uk-icon-caret-down]
        .uk-dropdown
          ul.uk-list.uk-margin-remove
            li: a(href="#/user/profile") #[i.uk-icon.uk-icon-edit] #[span(translate="main-navs.profile.profile")]
            li: a(ng-click="logout()") #[i.uk-icon.uk-icon-unlock] #[span(translate="main-navs.profile.logout")]

  section(ng-show="!isAuthenticated")#authenticate
    ul: li: a(ng-href="#/authenticate",translate="main-navs.profile.auth")

  #o-dashboard-menu.uk-offcanvas
    .uk-offcanvas-bar
      ul.uk-list
        li: a(href="#/dashboard/main") #[i.uk-icon.uk-icon-home] #[span(translate="main-navs.home")]
        li: a(href="#/dashboard/admin/event/add") #[i.uk-icon.uk-icon-plus] #[span(translate="main-navs.events-manage.selection.add")]
        li: a(href="#/dashboard/admin/event/manage") #[i.uk-icon.uk-icon-calendar] #[span(translate="main-navs.events-manage.selection.manage")]
        li: a(href="#/dashboard/admin/users") #[i.uk-icon.uk-icon-users] #[span(translate="main-navs.admin-control.selection.users")]
        li: a(href="#/dashboard/admin/options") #[i.uk-icon.uk-icon-cogs] #[span(translate="main-navs.admin-control.selection.options")]
