#skn-event-form
  form.uk-form
    fieldset(data-uk-margin)
    
      //- Otaku Events FB List
      .uk-form-row
        label(translate="event-form.fields.fb-list").uk-form-label
        .uk-form-control
          input(ng-model="eventInfo.oe_event_id").uk-width-9-10
          a.uk-button.uk-width-1-10(ng-href="https://facebook.com/events/{{eventInfo.oe_event_id}}",
                target="_new") #[i.uk-icon.uk-icon-globe]
    
      //- Official Event Page
      .uk-form-row
        label(translate="event-form.fields.fb-event").uk-form-label
        .uk-form-control
          input(ng-model="eventInfo.fb_event_id").uk-width-9-10
          a.uk-button.uk-width-1-10(ng-href="https://facebook.com/events/{{eventInfo.fb_event_id}}",target="_new") #[i.uk-icon.uk-icon-globe]
      
      //- Event Name
      .uk-form-row
        label(translate="event-form.fields.name").uk-form-label
        .uk-form-control
          input(ng-model="eventInfo.name").uk-width-1-1
      
      // Event Slug
      .uk-form-row
        label(translate="event-form.fields.slug").uk-form-label
        .uk-form-control
          input.uk-width-1-1(readonly,
                     ng-model="eventInfo.slug")
      
      //Location Data
      .uk-form-row
        label(translate="event-form.fields.loc.title").uk-form-label
        .uk-form-control
          input(readonly,
              placeholder="Longititude",
              ng-model="eventInfo.loc.long").uk-width-1-2
          input(readonly,
              placeholder="Lattitude",
              ng-model="eventInfo.loc.lat").uk-width-1-2
          .uk-width-1-1.uk-margin-top.skn-venue-search
            input(placeholder="Venue",
                ng-model="eventInfo.loc.venue",
                ng-keydown="$event.which === 13 && searchVenue()").uk-width-1-1
            .skn-venue-search-result.uk-width-1-1(ng-show="venueSearchResult.length > 0")
              ul.uk-list
                li(ng-repeat="venue in venueSearchResult"): a(ng-click="getCoords(venue.place_id,venue.description)").uk-margin-top
                  p #[i.uk-icon.uk-icon-map-marker] {{venue.description}}
          //
            Country Selection
          //
          .uk-flex.uk-margin-top
            .search-dropdown(data-uk-dropdown="{mode:'click'}").uk-width-1-3
              a.uk-button.uk-width-1-1
                span Philippines #[i.uk-icon.uk-icon-caret-down]
              .uk-dropdown
                .input
                  input(type="text").uk-width-1-1
                .list
                  ul.uk-list
                    li: a Philippines
            //
              Region Selection
            //
            .search-dropdown(data-uk-dropdown="{mode:'click'}").uk-width-1-3
              a.uk-button.uk-width-1-1
                span(ng-show="!eventInfo.loc.region").
                  Select Area
                span
                  {{eventInfo.loc.region}} #[i.uk-icon.uk-icon-caret-down]
              .uk-dropdown
                .input
                  input(type="text",ng-model="regionSearch").uk-width-1-1
                .list
                  ul.uk-list
                    li(ng-repeat="(key,region) in regionOptions | filter:regionSearch") 
                      a(ng-click="findArea(key,region.name)").uk-dropdown-close {{region.name}}
              
            //
              Area
            .search-dropdown(data-uk-dropdown="{mode:'click'}").uk-width-1-3
              a.uk-button.uk-width-1-1
                span(ng-show="!eventInfo.loc.area").
                  Select Area
                span
                  {{eventInfo.loc.area}} #[i.uk-icon.uk-icon-caret-down]
              .uk-dropdown
                .input
                  input(type="text",ng-model="areaSearch").uk-width-1-1
                .list
                  ul.uk-list
                    li(ng-repeat="(key,area) in areaOptions | filter:areaSearch") 
                      a(ng-click="eventInfo.loc.area = area.name").uk-dropdown-close {{area.name}}
        .uk-form-control.uk-margin-top
          skn-map-form(location="eventInfo.loc")
      
      .uk-form-row
        label(translate="event-form.fields.poster.title").uk-form-label
        .uk-form-control
          img(ng-src="{{eventInfo.posterUrl}}",ng-show="eventInfo.posterUrl.length > 0").uk-width-1-4.uk-margin-top
          .uk-width-1-1.uk-margin-top
            a(href="#m-skn-photo-gallery",
              ng-click="loadGallery()",
              translate="event-form.fields.poster.button"
              data-uk-modal).uk-button #[i.uk-icon.uk-icon-photo]
      
      .uk-form-row
        label(translate="event-form.fields.fb-page").uk-form-label
        .uk-form-control
          input(type="text"
                ng-model="eventInfo.fb_page_id"
                ng-blur="fbNameToId('fb_page_id')").uk-width-2-3
          .uk-button-group.uk-width-1-3
            a.uk-button(
              ng-href="https://facebook.com/{{eventInfo.fb_page_id}}"
              data-uk-tooltip
              title="Visit Facebook Page"
              target="_new") #[i.uk-icon.uk-icon-globe]
            a(href="#m-skn-organizer-manager"
              data-uk-modal
              title="Add Facebook Owner as Organizer"
              ng-click="addFbOrgId()"
              data-uk-tooltip).uk-button #[i.uk-icon.uk-icon-plus]
            a.uk-button(data-uk-tooltip,title="Set the Owner of this page as organizer") #[i.uk-icon.uk-icon-search]
      
      .uk-form-row
        label(translate="event-form.fields.organizers.title").uk-form-label
        .uk-form-control
          table(style="border-collapse:inherit").uk-table
            tbody
              tr(ng-repeat="(key,eventOrg) in eventInfo.organizers")
                td.uk-width-4-10
                  select(ng-model="eventOrg.role"
                         ng-options="orgRole for orgRole in orgRoles").uk-width-1-1
                td.uk-width-4-10
                  .search-dropdown(data-uk-dropdown="{mode:'click'}").uk-width-1-1
                    a.uk-button.uk-width-1-1
                      span(ng-show="!eventOrg.group.name").
                        Select Group
                      span
                        {{eventOrg.group.name}} #[i.uk-icon.uk-icon-caret-down]
                    .uk-dropdown
                      .input
                        input(type="text",ng-model="searchOrg").uk-width-1-1
                      .list
                        ul.uk-list
                          li(ng-repeat="(orgKey,value) in orgNames | filter:searchOrg") 
                            a(ng-click="setOrg(key,orgKey,value)").uk-dropdown-close {{value.name}}
                td.uk-width-2-10    
                  a.uk-button.uk-button-danger(ng-click="removeOrganizer(key)") #[i.uk-icon.uk-icon-trash]
          button.uk-button.uk-button-primary(ng-click="addOrganizer()") #[i.uk-icon.uk-icon-plus] #[span(translate="event-form.fields.organizers.button")]
          a(href="#m-skn-organizer-manager"
            data-uk-modal
            ng-click="addFbOrgId()").uk-button #[i.uk-icon.uk-icon-users] #[span(translate="event-form.fields.organizers.org-man")]
      
      .uk-form-row
        label(translate="event-form.fields.contacts").uk-form-label
        .uk-form-control
          table(style="border-collapse:inherit;").uk-table
            tbody
              tr(ng-repeat="(key,eventContact) in eventInfo.contacts")
                td.uk-width-4-10: select(ng-model="eventContact.name").uk-width-1-1
                  option(ng-repeat="contactOption in contactOptions"
                         ng-selected="contactOption.name === eventContact.name") {{contactOption.name}}
                td.uk-width-4-10 
                  input.uk-width-1-1(
                    type="text"
                    ng-model="eventContact.value"
                    placeholder="Empty values will not be included")
                td.uk-width-2-10
                  a.uk-button.uk-button-danger(
                    ng-click="removeContact(key)") #[i.uk-icon.uk-icon-trash]
          button.uk-button.uk-button-primary(
            ng-click="addContact(key)") #[i.uk-icon.uk-icon-plus] Add Contact
      
      .uk-form-row
        label(translate="event-form.fields.schedule.title").uk-form-label
        .uk-form-control
          table(style="border-collapse:inherit").uk-table
            tbody
              tr
                td(translate="event-form.fields.schedule.start-at")
                td.uk-flex
                  input.uk-width-1-3(type="text",
                             ng-model="eventInfo.schedule.from.date"
                             data-uk-datepicker="{format:'DD.MM.YYYY'}")
                  input.uk-width-1-1(type="text",
                             ng-model="eventInfo.schedule.from.time"
                             data-uk-timepicker)
                  input.uk-width-1-3(type="text",
                             ng-model="eventInfo.schedule.from.zone"
                             placeholder="Timezone")
              tr
                td(translate="event-form.fields.schedule.end-at")
                td.uk-flex
                  input.uk-width-1-3(type="text",
                             ng-model="eventInfo.schedule.to.date"
                             data-uk-datepicker="{format:'DD.MM.YYYY'}")
                  input.uk-width-1-1(type="text",
                             ng-model="eventInfo.schedule.to.time"
                             data-uk-timepicker)
                  input.uk-width-1-3(type="text",
                             ng-model="eventInfo.schedule.to.zone"
                             placeholder="Timezone")
      
      .uk-form-row
        label(translate="event-form.fields.tags").uk-form-label
        .uk-form-control
          tags-input(ng-model="eventInfo.tags",placeholder="Add Event Tags").skn-auto-tags
            auto-complete(source="tags")
      
      .uk-form-row
        label(translate="event-form.fields.tags").uk-form-label
        .uk-form-control
          table(style="border-collapse:inherit;").uk-table
            tbody
              tr(ng-repeat="(key,eventTicket) in eventInfo.tickets")
                td.uk-width-4-10: input.uk-width-1-1(ng-model="eventTicket.price")
                td.uk-width-4-10: input.uk-width-1-1(ng-model="eventTicket.note")
                td.uk-width-2-10: a.uk-button.uk-button-danger(ng-click="removeTicket(key)") #[i.uk-icon.uk-icon-trash]
          button.uk-button.uk-button-primary(ng-click="addTicket()") #[i.uk-icon.uk-icon-plus] Add Ticket Info
      
      .uk-form-row
        label.uk-form-label Hashtags
        .uk-form-control
          tags-input(ng-model="eventInfo.hashtags",
                 placeholder="Add Hashtags (no need for #)").skn-auto-tags
      
      //- Submit Data
      .uk-form-row
        .uk-form-control.uk-text-center.skn-event-submit-container
          button(ng-click="submitForm()",ng-disabled="disableSubmit",translate="event-form.fields.submit").uk-button-large.uk-button.uk-button-success

  //- Photo Gallery Modal
  #m-skn-photo-gallery.uk-modal
    .uk-modal-dialog.uk-modal-dialog-large
      skn-fb-photo-gallery(event-info="eventInfo",event-poster="eventInfo.posterUrl")
  
  //- Organization Manager
  #m-skn-organizer-manager.uk-modal
    .uk-modal-dialog.uk-modal-dialog-large
      skn-org-manager(fb-page-id="fbPageId",org-list="orgList")
