.skn-event-poster
  a(ng-href="#/event/{{event.slug}}")
    .poster-image(style="background-image:url('{{event.posterUrl}}')")
      .poster-date
        p #[i.uk-icon.uk-icon-calendar] {{event.startTime}}
      .poster-info
        p.uk-text-large {{event.name}}
        p.uk-text-small {{event.loc.venue}}
        
      
  
