.search-dropdown(data-uk-dropdown="{mode:'click'}")
  a.uk-button asdas #[i.uk-icon.uk-icon-caret-down]
  .uk-dropdown
    .input
      input(type="text").uk-width-1-1
    .list
      ul.uk-list
        li(ng-repeat="value in options") 
          a Philippines
