#skn-org-manager.uk-width-1-1
  // 
    FB Add
  .skn-add-fbpage.uk-width-1-1
    input(ng-model="fbPageId").uk-form-large.uk-width-1-1
  //
    Panel Start
  .skn-org-panel.uk-width-1-1.uk-margin-top
    .uk-width-1-4
      .uk-panel.uk-panel-box
        input(ng-model="orgSearch"
              placeholder="Search Event Name").uk-width-1-1.uk-form-large
      .uk-width-1-1
        ul.uk-list
          li(ng-repeat="org in orgList | filter:orgSearch"): a(ng-click="loadOrg(org._id)")
            .org-thumb.uk-width-2-10
              img(ng-src="{{org.profile}}")
            .org-info.uk-width-8-10
              p.uk-text-large {{org.name}}
    
    .uk-width-3-4
      form.uk-form
        fieldset(data-uk-margin)
          legend(translate="org-manager.fields.legend")
          .uk-form-row
            label(translate="org-manager.fields.name").uk-form-label
            .uk-form-control
              input(ng-model="orgInfo.name").uk-width-1-1
          .uk-form-row
            label(translate="org-manager.fields.fbpage").uk-form-label
            .uk-form-control
              input(ng-model="orgInfo.fb_page_id"
                    ng-blur="fbNameToId()").uk-width-9-10
              a(title="Use Facebook Name as Organizer Name",data-uk-tooltip,
              ng-click="getFBName()").uk-button #[i.uk-icon.uk-icon-search]
          .uk-form-row
            label(translate="org-manager.fields.contact").uk-form-label
            .uk-form-control
              table(style="border-collapse:inherit;").uk-table
                tbody
                  tr(ng-repeat="(key,orgContact) in orgInfo.contacts")
                    td.uk-width-4-10: select(ng-model="orgContact.name").uk-width-1-1
                      option(ng-repeat="contactOption in contactOptions",
                           ng-selected="contactSelected(contactOption.name,orgContact.name)") {{contactOption.name}}
                    td.uk-width-4-10: input.uk-width-1-1(type="text",ng-model="orgContact.value",placeholder="Empty values will not be included")
                    td.uk-width-2-10: a.uk-button.uk-button-danger(ng-click="removeContact(key)") #[i.uk-icon.uk-icon-trash]
              button.uk-button.uk-button-primary(ng-click="addContact()") #[i.uk-icon.uk-icon-plus] #[span(translate="org-manager.button.add")]
          .uk-form-row
            button(ng-click="submitOrg()",translate="org-manager.button.submit").uk-button.uk-button-success
