#skn-fb-photo-gallery
  .uk-alert.uk-alert-danger(ng-show="facebookEventIdError",translate="fb-photo-gallery.notif.invalid").
    Facebook Page ID not Valid
    
  .uk-button-group
    a.uk-button(ng-class="{'uk-button-primary':buttonSelected.oeGallery}",ng-click="loadOEEventGallery()",translate="fb-photo-gallery.group.fblist")
    
    a.uk-button(ng-class="{'uk-button-primary':buttonSelected.fbEventGallery}",ng-click="loadFBEventGallery()",translate="fb-photo-gallery.group.fbevent")
    
    a.uk-button(ng-class="{'uk-button-primary':buttonSelected.fbPageGallery}",ng-click="loadFBPageGallery()",translate="fb-photo-gallery.group.fbpage")
    
    a.uk-button(ng-class="{'uk-button-primary':buttonSelected.customUrl}",ng-click="loadCustomUrl()",translate="fb-photo-gallery.group.url")

  .skn-image-panel.uk-width-1-1.uk-margin-top
    .uk-width-3-4.image-gallery-container
      .uk-width-1-1(ng-show="buttonSelected.customUrl")
        input.uk-width-1-1.uk-form-large(ng-model="photoDetail.primaryImage.source")
      .uk-width-1-1.image-gallery(ng-show="photos.length > 0")
          a(ng-repeat="photo in photos",ng-click="selectedPhoto(photo)"): img(ng-src="{{photo.images[0].source}}")
          .uk-width-1-1.uk-text-center
            button(ng-click="loadNextPage()",ng-disabled="paginationToggle",translate="fb-photo-gallery.button.next").uk-button.uk-button-large.uk-button-primary
        
    .uk-width-1-4.image-detail.uk-text-center
      .uk-width-1-1
        img(ng-src="{{photoDetail.primaryImage.source}}").uk-thumbnail
      
      .uk-alert.uk-alert-success(ng-show="posterSetAlert")
        p(translate="fb-photo-gallery.button.submit")
        
      a(ng-href="{{photoDetail.primaryImage.source}}",target="_new",translate="fb-photo-gallery.button.view").uk-margin-1-2.uk-button.uk-button-primary.uk-margin-top
      
      button(ng-click="setPosterPhoto()",translate="fb-photo-gallery.button.submit").uk-margin-1-2.uk-button.uk-button-success.uk-margin-top
      
