.sponsors-list
  .list
    a(ng-href="//facebook.com/{{sponsor.orgid}}"
      ng-repeat="sponsor in sponsors | startFrom:currentPage*maxPages | limitTo:limit"
      target="_window").uk-width-1-3
      .container
        .image(style="background-image:url('{{sponsor.cover}}')")
        .info.
          {{sponsor.name}}
  .pagination.uk-width-1-1.uk-margin-top
    a(ng-show="maxPages > 1"
      ng-repeat="page in [] | range:maxPages"
      ng-click="pagination(page)").uk-width-1-4
