@import "core"

#dashboard-content
  height: 100%

  #skn-admin-event-info
    position        : relative
    background-color: #fff
    display         : flex
    height          : inherit

    #skn-event-fb-list
      height: inherit
      border: 1px #e0e0e0 solid

      .skn-event-list
        flex-grow : 1
        overflow-y: auto

    #skn-form-container
      height      : inherit
      border      : 1px #e0e0e0 solid
      overflow-y  : auto
