@import "core"

#dashboard-content
  height: 100%

  .uk-table
    tbody > tr
      td > img
        width: 7em
      td > .skn-dropdown-container
        .skn-button-draft
          background-color: #212121
          color           : #fff
        .skn-button-published
          background-color: $success-color
        .uk-dropdown
          background-color: #212121
          border-bottom   : 3px solid $dark-pink-color
          ul > li
            text-transform  : capitalize
            margin          : 0.5em 0em
            a
              color       : #fff
              font-weight : 700



  #skn-admin-event-man
    position    : relative
    background  : #fff
    display     : flex
    height      : inherit
