@import "../../imports"

@media screen and (max-width: 720px)

@media screen and (min-width: 721px)

html
  background: $grey-color
  height    : 100%
  body
    height  : inherit
    display : flex
    flex-direction: column
    main
      height: 95%
      #dashboard-container
        overflow-y: auto
        padding   : 0.5em
        height    : inherit

.uk-table
  border: none
  thead
    border        : none
    border-bottom : 5px solid $dark-pink-color
    tr
      background    : #212121
      color         : #fff
  tbody > tr
    background    : #fff
    border        : none
    border-bottom : $grey-border
    td
      vertical-align: middle

#dashboard-content
  animation-name            : uk-fade-bottom
  animation-duration        : 500ms
  animation-timing-function : ease-in-out
