@import "core"
#dashboard-container
  padding: 0em !important
  #dashboard-content
    height    : 100%
    animation : none
    #event-detail
      #poster-container
        background-color: #fff
        display         : flex
        justify-content : center
        height          : auto
        padding         : 2em
        .poster
          a
            display: block
            img
              height: 25em
        .info
          margin-left: 1em
          h1
            font-weight: 400
          .organizers
            h2
              font-weight   : 400
              text-transform: capitalize
              font-size     : 1.2em
              margin-bottom : 0.2em
            ul > li
              display     : inline-block
              margin-right: 1em
          .tags
            .tag
              text-transform: capitalize
              font-weight   : 400
              font-style    : italic
            .tag:after
              content: ', '
            .tag:last-child:after
              content: ''
          .hashtags
            .hashtag
              font-weight   : 400
              font-style    : italic
              color         : $dark-pink-color
            .hashtag::before
              content: '#'
            .hashtag::after
              content: ', '
            .hashtag:last-child::after
              content: ''
      #event-dashboard
        border-top      : 1px solid $dark-pink-color
        height          : 3em
        background-color: #fff
        display         : inline-flex
        width           : 100%
        justify-content : center
        a
          display     : flex
          padding     : 0em 1em
          align-items : center
          color       : #000
        a:hover
          color           : $dark-pink-color
          border-bottom   : 0.3em solid $dark-pink-color
          text-decoration : none
        .primary
          border-bottom   : 0.3em solid $dark-pink-color
      #event-content
        display         : block
        margin-top      : 3em
        #articles
          .content
            background-color: transparent !important
            box-shadow      : none !important
        #more-info
          #map-container
            display         : flex
            flex-wrap       : wrap
            background-color: $dark-pink-color
            align-items     : center
            .info
              height        : 100%
              display       : flex
              flex-direction: column
              div
                display       : flex
                flex-direction: column
                flex-grow     : 1
                .icon
                  color           : #eee
                  font-size       : 4em
                  text-align      : center
                  padding         : 0.5em
                .venue
                  padding   : 0.5em
                  color     : #fff
                  flex-grow : 1
                  p
                    font-weight : 400
                  p:last-child
                    font-style  : italic
              .controls
                width           : 100%
                button
                  width: 8em
                  margin: 0 auto
          #contact.uk-panel
            border  : 1px solid $dark-pink-color
            padding : 0.5em
            h3
              text-align: center
            .uk-list
              ul
                padding-left: 0em
                li
                  font-weight: 400
          #ticket-info
            margin-left: 1em
            display    : block
          #sponsors
            

        .event-content
          width           : 100%
          display         : flex
          justify-content : center
          animation-name            : uk-fade-bottom
          animation-duration        : .5s
          animation-fill-mode       : both
          animation-timing-function : ease-in
          .content
            background-color: #fff
            padding         : 1em
            border          : 2px solid $grey-color
            box-shadow      : 0 0 6px rgba(0,0,0,0.27)
            border-radius   : 2px
        .ng-hide-remove-active
          display:  none
