@import "core"

#dashboard-container
  height          : 100%

  #dashboard-content
    height          : 100%
    background-color: #fff
    display         : flex
    flex-direction  : column

    div
      margin: 0.5em

    #global-variables
      overflow-y: auto
