@import "core"

#dashboard-content
  height: 100%
  #org-man
    height: inherit

    #skn-org-manager
      background-color: #fff
      border          : 1px solid $grey-color
      position        : relative
      height          : inherit
      
      .skn-org-panel
        height: inherit !important
        .uk-width-1-1
          flex-grow: 1
      .skn-add-fbpage
        display: none

      .skn-org-panel
        margin: 0em !important
