@import "core"

#user-list
  display       : flex
  flex-direction: column

  #info
    display         : flex
    justify-content : center

    .uk-alert
      background-color: #212121
      border-bottom   : 0.5em solid lighten($primary-button,20%)
