doctype
html(lang="en",ng-app="events-db")
  head
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width,height=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no")
    
    link(rel="stylehseet",href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800,300",type="text/css")
    link(rel="stylesheet",href="styles/css-essentials.css")
    link(rel="stylesheet",ng-href="styles/{{templateCss}}")

    script(src="scripts/js-dependencies.js")
    script(src="scripts/angular.js")

  title Events Chart via Sakura Connect

  body(ng-controller="mainCtrl")
    dashboard-nav(ng-show="displayNav")
    main(ng-view,data-uk-observe)
    p.skn-version.uk-text-small #[i.uk-icon.uk-icon-copyright] Events Version 0.0.2a
