@import "../imports"

html
  height: 100%
  width : 100%
  background-color: #000

  body
    width : inherit
    height: inherit

    main
      display         : flex
      justify-content : center
      align-items     : center
      width           : inherit
      height          : inherit

      .uk-width-medium-1-4
        #skn-title > h1
          color     : #fff
          text-align: center
        #skn-dialog
          background-color: $dark-pink-color
          height          : 10em
          display         : flex
          justify-content : center
          align-items     : center 

          .uk-button
            background-color : $facebook-color
            color            : #fff
            text-transform   : uppercase
            font-weight      : 700

        #credit
          color: #fff
          p
            font-weight: 400
