.uk-width-medium-1-4.uk-width-small-1-1
	#skn-title
		h1(translate="title")
	#skn-dialog
		a.uk-button.uk-button-large(ng-click="login()") #[i.uk-icon.uk-icon-facebook-square] #[span(translate="buttons.login-to-fb")]
	#credit
		p.uk-text-small.uk-text-center(translate="login.credits")
