#dashboard-container: #dashboard-content
  #user-options
    form.uk-form
      fieldset(data-uk-margin)
        legend #[i.uk-icon.uk-icon-user] User Options
        
        .uk-form-row
          label.uk-form-label Email
          .uk-form-control
            input(type="email",ng-model="email").uk-width-1-1.uk-form-large
            p.uk-form-help-block Change this if you have a different primary email (email address where you actually read emails).
              
        .uk-form-row
          button(ng-click="saveEmail()").uk-button.uk-button-large.uk-button-primary #[i.uk-icon.uk-icon-save] Save
    
    form.uk-form
      fieldset(data-uk-margin)
        legend #[i.uk-icon.uk-icon-key] API Hash
        
        .uk-form-row(ng-show="role > 750")
          .uk-alert.uk-alert-danger #[i.uk-icon.uk-icon-exclamation-triangle] Your account is not yet certified.
        
        .uk-form-row
          label.uk-form-label API Hash
          .uk-form-control
            input(ng-disabled="role > 750",ng-model="apiHash").uk-width-1-1.uk-form-large
            p.uk-form-help-block This is serve as authentication key for sending links to be displayed to the current page.
        
        .uk-form-row
          button.uk-button.uk-button-large.uk-button-primary #[i.uk-icon.uk-icon-save] Save
      
