*
  font-family: $default-font

h1,
h2,
h3,
h4,
h5,
h6,
p
  font-family: $default-font
  font-weight: 700

.uk-datepicker
  background-color: #fff
  border          : $grey-border

.uk-tooltip
  background: $dark-pink-color
  color     : #fff

.uk-tooltip-right:after,
.uk-tooltip-left:after
  border-right-color: $dark-pink-color

.uk-offcanvas
  background: rgba(0,0,0,0.5)
  .uk-offcanvas-bar
    background-color: $dark-pink-color
    ul > li > a
      padding       : 0.5em
      color         : #fff
      font-size     : 1.5em
      display       : block
      border-bottom : $white-border

    ul > li > a:hover
      text-decoration : none
      background-color: #EC407A

.uk-modal
  z-index: 10001

input[data-uk-timepicker]
  width: 100%

.uk-button
  text-transform: uppercase
  font-weight   : 700
  background-color: #BDBDBD

.uk-alert
  color           : #fff
  background-color: #212121
  p:before
    font-family : FontAwesome
    display     : inline-block
    font-weight : 400
    font-style  : normal
    line-height : 1

.uk-alert-danger
  border-right: 1em solid $danger-color
.uk-button-danger
  background-color: $danger-color
  p:before
    content       : "\f071"
    margin-right  : 0.5em

.uk-alert-success
  border-right: 1em solid $success-color
.uk-button-success
  background-color: $success-color

.uk-alert-primary
  border-right: 1em solid $primary-button
.uk-button-primary
  background-color: $primary-button

.skn-dropdown-container
  position: relative

.skn-button-group
  .uk-button:first-child
    border-right: none
  .uk-button
    background-color: transparent
    border          : 1px solid $dark-pink-color
    color           : $dark-pink-color
  .uk-button:hover
    background-color: $dark-pink-color
    color           : #fff

.uk-notify
  z-index: 10001

  .uk-notify-message
    color: #fff
    background-color: #212121

  .uk-notify-message-primary
    border-bottom: 0.5em solid lighten($primary-button,20%)

  .uk-notify-message-success
    border-bottom: 0.5em solid lighten($success-color,20%)

  .uk-notify-message-danger
    border-bottom: 0.5em solid $danger-color

.skn-version
  position: absolute
  right   : 0
  bottom  : 0
  margin  : 0
