#dashboard-container
  #dashboard-content: #event-add.uk-height-1-1
    #skn-admin-event-info
      #skn-event-fb-list.uk-width-medium-1-4.uk-width-small-1-1
        oe-event-list
      #skn-form-container.uk-width-medium-3-4.uk-width-small-1-1
        event-form(event-info="eventInfo",on-submit="addEvent()")
    
