#dashboard-container: #dashboard-content: #event-detail
  #poster-container
    .poster: a: img(ng-src="{{event.posterUrls.thumb}}").uk-thumbnail
    .info
      h1 {{event.name}}
      .schedule
        p.uk-margin-remove.uk-text-small. 
          #[i.uk-icon.uk-icon-calendar] 
          {{event.schedule.from}} - {{event.schedule.to}}
        p.uk-margin-remove.uk-text-small. 
          #[i.uk-icon.uk-icon-clock-o] 
          ({{event.schedule.duration}}) day(s)
      .organizers
        h2(translate="event-detail.titles.organizedby")
        ul.uk-list
          li(ng-repeat="org in event.organizers"): a(ng-href="https://facebook.com/{{org.orgid}}"
            target="_new"
            data-uk-tooltip
            title="{{org.name}}"): img(ng-src="{{org.profile}}").uk-thumbnail
      .hashtags
        p 
          span(translate="event-detail.titles.hashtags").uk-text-bold
          span.hashtag(ng-repeat="hashtag in event.hashtags") {{hashtag.text}}
      .tags
        p 
          span(translate="event-detail.titles.filed-under").uk-text-bold &nbsp
          span.tag(ng-repeat="tag in event.tags") {{tag.text}}
  #event-dashboard
    a(ng-click="showPage('info')"
      ng-class="{'primary': pages['info']}"). 
        #[i.uk-icon.uk-icon-info] &nbsp #[span(translate="event-detail.nav.info")]
    a(ng-click="showPage('posts')"
      ng-class="{'primary': pages['posts']}"). 
      #[i.uk-icon.uk-icon-link] &nbsp #[span(translate="event-detail.nav.link")]
    a(ng-click="showPage('discuss')"
      ng-class="{'primary': pages['discuss']}").
      #[i.uk-icon.uk-icon-bullhorn] &nbsp #[span(translate="event-detail.nav.comment")]
  //-
    **
    ** Content Starts Here
    **
  #event-content
    #more-info(ng-show="pages['info']").event-content: .content.uk-width-medium-7-10.uk-width-small-9-10
        #map-container
          .map.uk-width-3-4
            skn-map-form(location="event.location")
          .info.uk-width-1-4 
            div
              .icon
                i.uk-icon.uk-icon-map-marker
              .venue
                p.uk-margin-remove.uk-text-center {{event.location.venue}}
            .controls.uk-margin-top
              button.uk-button Direction
        .uk-width-1-1.uk-margin-top.uk-flex
          #contact.uk-width-1-4.uk-panel.uk-text-center
            h3(translate="event-detail.titles.contact").uk-margin-remove.uk-panel-title
            ul.uk-list
              li.uk-text-bold.uk-margin-bottom(ng-repeat="group in event.contacts",ng-show="group.values.length > 0") #[i(class="uk-icon-{{group.class}}").uk-icon] {{group.group}}
                ul
                  li(ng-repeat="contact in group.values") 
                    a(ng-href="{{contact.link}}",target="_window") {{contact.contact}}
              li.uk-text-bold #[i.uk-icon.uk-icon-facebook-square] #[span(translate="event-detail.titles.facebook")]
                ul
                  li: a(ng-href="//facebook.com/{{event.fbEventId}}"
                        ng-show="event.fbEventId.length > 0"
                        target="_window"
                        translate="event-detail.titles.official-fb-event-page")
                  li: a(ng-href="//facebook.com/{{event.oeFBId}}"
                        ng-show="event.oeFBId.length > 0"
                        target="_window"
                        translate="event-detail.titles.official-fb-list")
                  li: a(ng-href="//facebook.com/{{event.fbPageId}}"
                        ng-show="event.fbPageId.length > 0"
                        target="_window"
                        translate="event-detail.titles.official-fb-page")
                  li(ng-repeat="org in event.organizers")
                    a(ng-href="//facebook.com/{{org.orgid}}"
                      target="_window") {{org.name}}
                button.uk-margin-top.uk-button-primary.uk-button Email
          
          #ticket-info.uk-panel.uk-width-3-4
            h3.uk-panel-title #[i.uk-icon.uk-icon-ticket] #[span(translate="event-detail.titles.ticket-info")]
            hr
            .uk-alert.uk-alert-primary(ng-show="event.tickets.length === 0")
              p(translate="event-detail.notif.no-ticket")
            table(ng-show="event.tickets.length !== 0").uk-table: tbody
              tr(ng-repeat="ticket in event.tickets")
                td {{ticket.price}}
                td {{ticket.note}}
                
        .uk-width-1-1.uk-margin-top
          h3(translate="event-detail.titles.sponsors").uk-panel-title
          #sponsors
            sponsor-list(sponsors="event.sponsors")
            
    #articles(ng-show="pages['posts']").event-content: .content.uk-width-medium-7-10.uk-width-small-9-10
        h3 Posts
    #discuss(ng-show="pages['discuss']").event-content: .content.uk-width-medium-7-10.uk-width-small-9-10
        h3 Discussion
    #footer
