#dashboard-container
  #dashboard-content
    input(ng-model="eventSearch",placeholder="Search Event In The List").uk-form-large.uk-width-1-1
    table.uk-table
      thead: tr
        th(translate="event-man.headers.name").uk-width-2-10
        th(translate="event-man.headers.schedule_from").uk-width-1-10
        th(translate="event-man.headers.schedule_to").uk-width-1-10
        th(translate="event-man.headers.venue").uk-width-2-10
        th(translate="event-man.headers.poster").uk-width-2-10
        th(translate="event-man.headers.status").uk-width-1-10
        th(translate="event-man.headers.controls").uk-width-1-10
      tbody
        tr(ng-repeat="(key,event) in eventList")
          td.uk-width-2-10: a(ng-href="#/dashboard/admin/event/edit/{{event._id}}") {{event.name}}
          td.uk-width-1-10 #[i.uk-icon.uk-icon-clock-o] {{event.schedule.from}}
          td.uk-width-1-10 #[i.uk-icon.uk-icon-clock-o] {{event.schedule.to}}
          td.uk-width-2-10 {{event.venue}}
          td.uk-width-2-10.uk-text-center: img.uk-thumbnail(ng-src="{{event.poster}}",ng-show="event.poster.length > 0")
          td.uk-width-1-10 
            .skn-dropdown-container(data-uk-dropdown="{mode:'click'}")
              button(ng-class="{'skn-button-published': event.status === 'publish'}").skn-button-draft.uk-button {{event.status}} #[i.uk-icon.uk-icon-caret-down]
              
              .uk-dropdown
                ul.uk-list.uk-margin-remove
                  li: a(ng-click="changeEventStatus(key,'draft')") draft
                  li: a(ng-click="changeEventStatus(key,'publish')") publish
          td.uk-width-1-10
            .skn-dropdown-container(data-uk-dropdown="{mode:'click'}")
              button.uk-button-primary.uk-button Action #[i.uk-icon.uk-icon-caret-down]
            
              .uk-dropdown
                ul.uk-list.uk-margin-remove
                  li: a(ng-href="#/dashboard/admin/event/edit/{{event._id}}",translate="event-man.controls.edit")
                  li: a(translate="event-man.controls.delete") Delete
