#dashboard-container
  #dashboard-content
    // Button Navigation
    #option-navigation.uk-hidden
      .uk-button-group.skn-button-group
        a(translate="admin.options.group.var").uk-button
        a(translate="admin.options.group.sel").uk-button

    #global-variables
      form.uk-form
        fieldset(data-uk-margin)
          legend(translate="admin.options.fields.legend.gb")
          
          .uk-form-row
            label(translate="admin.options.fields.fblist").uk-form-label
            .uk-form-controls
              input(ng-model="fbEventListId").uk-form-input.uk-form-large.uk-width-1-1
              p.uk-form-help-block.
                Facebook Page ID that will check for events associated in the account. By default, Otaku Events List will be used.
          
          .uk-form-row
            button(ng-click="submitEventList()").uk-button.uk-button-large.uk-button-primary #[i.uk-icon.uk-icon-save] #[span(translate="admin.options.fields.save")]
    
    #default-selection
      form.uk-form
        fieldset(data-uk-margin)
          legend(translate="admin.options.fields.legend.sel")
          
          .uk-form-row
            label(translate="admin.options.fields.contacts").uk-form-label
            .uk-form-controls
              tags-input.skn-auto-tags(ng-model="contactInfos",placeholder="contacts")
              
          .uk-form-row
            label(translate="admin.options.fields.orgRole").uk-form-label
            .uk-form-controls
              tags-input.skn-auto-tags(ng-model="orgRoles",placeholder="Organization Roles")
              
          .uk-form-row
            label(translate="admin.options.fields.tags").uk-form-label
            .uk-form-controls
              tags-input.skn-auto-tags(ng-model="tags",placeholder="tags")
              
          .uk-form-row
            button(ng-click="submitSelection()").uk-button.uk-button-large.uk-button-primary #[i.uk-icon.uk-icon-save] #[span(translate="admin.options.fields.save")]
