#dashboard-container
  #dashboard-content(content-adjust): #user-list
    #info: .uk-width-medium-1-4.uk-width-small-1-1
      .uk-alert
        h2 Role Modes
        dl.uk-description-list-horizontal
          dt 0
          dd Admin
          dt 500
          dd Moderators
          dt 750
          dd contributors
          dt 1000
          dd subscribers
    #user-table
      table.uk-table
        thead: tr
          th(translate="admin.users.header.names")
          th(translate="admin.users.header.email")
          th(translate="admin.users.header.roles")
          th(translate="admin.users.header.info")
          th(translate="admin.users.header.remove")
        tbody
          tr(ng-repeat="(key,user) in userList")
            td {{user.last_name}}, {{user.first_name}}
            td {{user.email}}
            td 
              select(ng-options="role.name for role in roleList track by role.role",ng-model="user.role",ng-change="changeRole(user)",ng-disabled="currentUser === user.fbid")
            td
              a(href="#mod-user-info",data-uk-modal,ng-click="checkUser(user)").uk-button #[i.uk-icon.uk-icon-info-circle]
            td
              button.uk-button.uk-button-danger(ng-disabled="currentUser === user.fbid",ng-click="deleteUser(key,user)") #[i.uk-icon.uk-icon-trash]

  #mod-user-info.uk-modal
    .uk-modal-dialog
      .uk-modal-header
        p.uk-text-large.uk-text-bold #[i.uk-icon.uk-icon-user] {{userInfo.first_name}}, {{userInfo.last_name}}
      .uk-text-center
        img.uk-thumbnail(src="{{userInfo.profilePic}}")
      dl.uk-description-list-horizontal
        dt(translate="admin.users.user-info.dbid")
        dd {{userInfo._id}}
        dt(translate="admin.users.user-info.fbid")
        dd {{userInfo.fbid}}
        dt(translate="admin.users.user-info.verified")
        dd {{userInfo.verified}}
        dt(translate="admin.users.user-info.registered")
        dd {{userInfo.verified}}
