#dash-fb-addctrl
  .result
    display: block
    height : 15em

    background-position : center
    background-size     : cover
    position            : relative

  a
    display         : flex
    align-items     : center
    justify-content : center
    height          : inherit
    position        : absolute
    width           : 100%
    background-color: rgba(0,0,0,0.3)
    color           : #fff

    .profile
      position: absolute
      left    : 1em
      bottom  : 1em
