#skn-nav-main
  width   : 100%
  display : flex
  height  : 4em
  background-color: $dark-pink-color
  z-index : 10000
  section
    height  : inherit
    ul
      height : inherit
      margin : 0em
      li
        height      : inherit
        display     : inline-flex
        align-items : center
        padding     : 0em 0.5em
        position    : relative
        a
          display    : block
          color      : #fff
          font-weight: 700
        .uk-dropdown
          background-color: $dark-pink-color
          padding         : 0.5em
          ul > li
            display: block
            padding: 0.2em 0em

      li:hover
        background-color: #EC407A
        a
          text-decoration: none

  #skn-menu-mobile
    flex-grow: 1
    ul > li
      text-align  : center
      a
        width           : 2em
        display         : flex
        height          : inherit
        align-items     : center
        justify-content : center

  #skn-menu
    flex-grow: 1

  #userinfo
    ul
      li:first-child
        padding     : 0em 1em
        border-left : 1px solid #fff
        border-right: 1px solid #fff

  #brand
