#oe-event-list
  display       : flex
  flex-direction: column
  height        : inherit

  .skn-event-item
    min-height: 5em
    display   : block
    position  : relative
    border-bottom : 1px solid #E0E0E0

    .badge-container
      position: absolute
      right   : 0

    .skn-event-item-container
      padding       : 1em 0em 0.5em 0em
      display       : flex
      align-items   : center

      .uk-width-1-4
        padding: 0.5em

  .past-event
    background-color: rgba(33,33,33,0.5)
    opacity         : 0.5
    color           : #fff

  .skn-event-item:hover
    text-decoration: none

  .skn-list-control
    display   : block
    text-align: center
    padding   : 1em

  .skn-loading-panel
    background-color : $orange-color
    color            : #fff

  .skn-next
    background-color: $primary-button
    color           : #fff
