.search-dropdown
  position: relative
  a:hover.uk-button
    color: $dark-pink-color
    border-color: $dark-pink-color
  a.uk-button
    background-color: transparent
    border-bottom   : 3px solid $dark-pink-color
  .uk-dropdown
    padding: 0
    width  : 100%
    .input
      padding: 0.5em
      border-bottom: 1px solid $dark-pink-color
    .list
      padding   : 0.5em
      max-height: 10em
      overflow-y: auto
      ul
        li
          a:hover
            color: $dark-pink-color
            text-decoration: none
          a
            color   : #252525
            padding : 0.5em 0.2em
            display : block
