#skn-event-form
  form
    padding: 1em
    .skn-venue-search
      position: relative
      .skn-venue-search-result
        height          : 10em
        background-color: #fff
        border          : $grey-border
        position        : absolute
        left            : 0em
        z-index         : 10000
        overflow-y      : auto
        ul > li > a
          display     : block
          padding-left: 0.5em

    .skn-orglist-dropdown
      position: relative
      .dropdown
        position        : absolute
        left            : 0em
        max-height      : 10em
        overflow-y      : auto
        width           : 100%
        background-color: #fff

        ul > li
          border: 1px solid $grey-color
          a
            display: block
            padding: 0.5em

    .skn-event-submit-container
      background-color: #424242
      padding         : 1em

  #m-skn-photo-gallery
    .uk-button-group > .primary
      background-color: $primary-button
      color           : #fff
    .skn-photo-gallery
      overflow-y  : auto
      height      : 50em
