.skn-event-poster
  padding: 0.5em
  width  : 16.5em
  height : 22em
  a
    display : block
    color   : #fff
    width   : inherit
    height  : inherit

    .poster-image
      flex-direction      : column
      background-size     : cover
      background-position : center
      position            : relative
      height              : inherit
      width               : inherit

      .poster-info
        width           : 94%
        background-color: rgba(0,0,0,0.5)
        padding         : 0.5em
        position        : absolute
        bottom          : 0
        p
          margin: 0.1em

      .poster-date
        background-color: rgba(0,0,0,0.5)
        padding         : 0.5em
        position        : absolute
        top             : 0
        right           : 0em
        p
          margin: 0.1em

  a:hover
    text-decoration: none
