#skn-fb-photo-gallery > .skn-image-panel
  height  : 40em
  display : flex

  .uk-width-3-4
    padding   : 1em
    height    : inherit

    .image-gallery
      height    : inherit
      overflow-y: auto
      a
        display       : inline-block
        margin-left   : 1em
        margin-bottom : 1em

  .uk-width-1-4
    padding         : 1em
    background-color: #eee
    overflow-y      : auto
