.skn-auto-tags
  .tags
    background-color: #fff
    border          : $grey-border
    box-shadow      : 0 1px 1px rgba(0,0,0,0.075)
    transition      : border-color ease-in-out .15s, box-shadow ease-in-out .15s
    padding-bottom  : 0.7em

    .tag-item.selected
      background    : #d9534f
      border        : 1px solid #d9534f
      border-radius : 0
      color         : #fff

    input
      margin-top  : 0.5em
      margin-left : 1em
      border      : none
      box-sizing  : border-box
      min-width   : 5em !important

  .tag-list
    margin          : 0em
    padding         : 0em
    list-style-type : none

    .tag-item
      background  : $primary-button
      border      : 1px solid #357edb
      color       : #fff
      display     : inline-block
      float       : left
      line-height : 1em
      margin      : 0.5em
      padding     : 0.5em
      border-radius: 0

      button
        background: tranparent
        color     : #000
        opacity   : 0.4

  .tags.focused
    border-color: #66afe9
    box-shadow  : inset 1px 1px rgba(0,0,0,0.75), rgba(102,175,233,0.6)

  .autocomplete
    border: 1px solid #66afe9
    .suggestion-item
      list-style-type: none
      margin         : 0em
      padding        : 0em
      em
        font-weight     : normal
        background-color: #ffff00
    .selected
      color           : #262626
      background-color: #e9e9e9
      em
        color           : #262626
        background-color: #ffff00
