#skn-org-manager
  .skn-org-panel
    display: flex
    height : 45em
    border : 1px solid #ddd

    .uk-width-1-4
      border-right: $grey-border
      height      : inherit
      display     : flex
      flex-direction: column
      .uk-width-1-1
        overflow-y: auto
        ul > li
          border-bottom: $grey-border
          a
            display: flex
            padding: 0.5em

            .org-info
              padding-left: 0.5em

    .uk-width-3-4
      padding: 1em
