.sponsors-list
  display       : flex
  flex-direction: column

  .pagination
    display        : flex
    justify-content: center
    a
      height: 1.5em
      background-color: #E0E0E0
    a:hover
      background-color: #757575
    a:last-child
      border-left: none

  .list
    display: flex

    a
      display : block
      padding : 0.5em
      .container
        display       : flex
        border        : 1px solid $dark-pink-color
        flex-direction: column
        height        : 10em

        .image
          background-position: center
          background-size    : cover
          background-repeat  : no-repeat
          flex-grow: 1

        .info
          padding   : 0.5em
          color     : #212121
          text-align: center

    a:hover
      text-decoration: none
      .container
        border         : 1px solid $grey-color

        .info
          color          : $dark-pink-color
